<ol class="numeric-list"> <!--Uso de @apply en la lista numérica-->
  <li class="numeric-item">10.00h</li>
  <li class="pl-2 pb-3">
    Inicio del festival. 
  </li>
  <li class="numeric-item">10.30h - 11h</li>
  <li class="pl-2 pb-3">
    Bienvenida y actuación en directo del grupo local "Far Blues".
  </li>
  <li class="numeric-item">10.45h - 11.15h</li>
  <li class="pl-2 pb-3">
    Actividad para los más pequeños: Lectura del cuento "La misión de las verduras".
  </li>
  <li class="numeric-item">11h</li>
  <li class="pl-2 pb-3">
    Descuento en la degustación de los pasteles Carrot Cakes de los establecimientos participantes.
  </li>
  <li class="numeric-item">11.30h - 12h</li>
  <li class="pl-2 pb-3">
    Actividad para los más pequeños: Haz tu vegetal con plastelina.
  </li>
  <li class="numeric-item">11.45h</li>
  <li class="pl-2 pb-3">
    Fin de las votaciones.
  </li>
  <li class="numeric-item">12.00h</li>
  <li class="pb-5">
    Comunicación del local ganador de Castelldefels Cake Fest.
  </li>
</ol>