<article>
  <p class="text-xl leading-tight">
    Los participantes de Castelldefels Cake Fest optarán por el reconocimiento local al mejor
    Carrot Cake de Castelldefels.
  </p>
  <p class="text-m leading-loose">
    El acceso es gratuito, todas las porciones de los pasteles estarán a 3€, exceptuando lal hora de descuento 
    donde se aplicara un 50% de descuento y costarán 1,50€. 
  </p>
  <p class="text-m leading-loose">
    El evento se realizará el domingo 30 de junio de 2024 en la Plaça del castell, 1, 08860 Castelldefels, Barcelona.
    Puedes llegar al evento con los autobuses X95 y L96. Si vienes en coche no te preocupes, Ttmbién habrá una zona habilitada para el aparcamiento.
  </p>  
  <p class="text-m leading-loose">
    ¡Ven al festival y vota por tu favorito!
  </p>  
</article>