<footer class="text-center p-5 bg-white">
  <p class="text-dark-brown text-s">Universitat Oberta de Catalunya © Copyright 2024 Patricia Solano Arenas</p>
  <div>
    <nav>
      <ul class="flex justify-center space-x-4">
        <img src="./assets/images/logo-naranja.png" alt="Logo" width="120" height="40"></img>
        <li>
          <a class="nav-link text-dark pl-9" href="./index.html">Portada</a>
        </li>
        <li>
          <a class="nav-link text-dark" href="./blog.html">Blog</a>
        </li>
        <li>
          <a class="nav-link text-dark pl-9" href="https://www.google.com/?hl=es"><i class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li>
          <a class="nav-link text-dark" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a class="nav-link text-dark" href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>
        </li>
    </nav>
  </div>
</footer>
