<footer class="body__footer">
    <p>Universitat Oberta de Catalunya © Copyright 2024 Patricia Solano Arenas</p>
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="./assets/images/logo-naranja.png" alt="Logo" width="120" height="40"></img>
          </div>
          <div class="col">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link text-dark" href="./index.html">Portada</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="./blog.html">Blog</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link text-dark" href="https://www.google.com/?hl=es"><i class="fa-brands fa-google-plus-g"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>
                </li>
            </ul>
          </div>
        </div>
    </div>

</footer>